<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomeViz</title>
    <style>
        .background {
            fill: none;
            pointer-events: all;
        }

        #states {
            fill: #aaa;
        }

        #states .active {
            display:none;
        }

        #state-borders {
            fill: none;
            stroke: #fff;
            stroke-width: 1.5px;
            stroke-linejoin: round;
            stroke-linecap: round;
            pointer-events: none;
        }

        .county-boundary {
            fill: #aaa;
            stroke: #fff;
            stroke-width: .5px;
        }

        .county-boundary:hover, .state:hover {
            fill: orange;
        }

		#inds{
			position:absolute;
/*			top:100px;
			left:1000px;*/
		}

		div.tooltip { 
			position: absolute;     
			text-align: center;     
			width: 150px;          
			height: 40px;         
			padding: 2px;       
			font: 12px sans-serif;    
			background: #fff; 
			border: 0px;        
			pointer-events: none;     
		}
    </style>
</head>
<body>
	<h1>HomeViz - US Home Prices Visualization</h1>
    <div class="viz"></div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/topojson.v3.min.js"></script>
    <!-- <script type="text/javascript" src="https://unpkg.com/topojson@3.0.2/dist/topojson.js"></script> -->
    
	<select id="inds">
	   	<option value="all" selected="selected">All</option>
	   	<option value="1bed">1 Bedroom</option>
	   	<option value="2bed">2 Bedrooms</option>
	   	<option value="3bed">3 Bedrooms</option>
	   	<option value="4bed">4 Bedrooms</option>
	   	<option value="5bed">5 Bedrooms+</option>
	   	<option value="sqft">Median Sqft</option>
	</select>

    <script type="text/javascript">
    	var state_all = {{ state_all | safe }}
    	console.log(state_all)
    	var state_1bed = {{ state_1bed | safe }}
    	console.log(state_1bed)
    	var state_2bed = {{ state_2bed | safe }}
    	console.log(state_2bed)
    	var state_3bed = {{ state_3bed | safe }}
    	console.log(state_3bed)
    	var state_4bed = {{ state_4bed | safe }}
    	console.log(state_4bed)
    	var state_5bed = {{ state_5bed | safe }}
    	console.log(state_5bed)
    	var state_sqft = {{ state_sqft | safe }}
    	console.log(state_sqft)

        var margin = {
            top: 10,
            bottom: 10,
            left: 10,
            right:10
        }, width = parseInt(d3.select('.viz').style('width'))
            , width = width - margin.left - margin.right
            , mapRatio = 0.5
            , height = width * mapRatio
            , active = d3.select(null);

        var svg = d3.select('.viz').append('svg')
            .attr('class', 'center-container')
            .attr('height', height + margin.top + margin.bottom)
            .attr('width', width + margin.left + margin.right);

		var tooltip = d3.select("body").append("div") 
			.attr("class", "tooltip")       
			.style("opacity", 0);

		d3.select("#inds")
			.style("top", 100 + "px")
			.style("left", width * 0.8 + "px");

		// var ind = d3.select("inds")
		// 	.style("left", 200)
		// 	.style("top", 40);

        svg.append('rect')
            .attr('class', 'background center-container')
            .attr('height', height + margin.top + margin.bottom)
            .attr('width', width + margin.left + margin.right)
            .on('click', clicked);


        Promise.resolve(d3.json('https://cdn.jsdelivr.net/npm/us-atlas@3/counties-10m.json'))
            .then(DrawMap);

        // d3.json("https://d3js.org/us-10m.v1.json", function (json){
        // 	us = json;
        // 	console.log(us);
        // });

        var projection = d3.geoAlbersUsa()
            .translate([width /2 , height / 2])
            .scale(width);

        var path = d3.geoPath()
            .projection(projection);

        var g = svg.append("g")
            .attr('class', 'center-container center-items us-state')
            .attr('transform', 'translate('+margin.left+','+margin.top+')')
            .attr('width', width + margin.left + margin.right)
            .attr('height', height + margin.top + margin.bottom)

        function DrawMap(us) {
        	console.log(us);
			
			data = state_all
        	data_label = "Median Home Price: "
       		
       		var lowColor = '#98f692'//'#f9f9f9'
			var highColor = '#bc2a66'//'#bc2a66'
			var keys = Object.keys(data);
			var norm = 0.8;
			var minVal = Math.min.apply(null, keys.map(function(x) { return data[x]} ));
			var maxVal = Math.max.apply(null, keys.map(function(x) { return data[x]} ));
			var ramp = d3.scaleLinear().domain([minVal,maxVal*norm]).range([lowColor,highColor])

			// add a legend
			var w = width/10, h = height/2;

			var key = d3.select("g")
				.append("svg")
				.attr("width", w)
				.attr("height", h)
				.attr("class", "legend");

			var legend = key.append("defs")
				.append("svg:linearGradient")
				.attr("id", "gradient")
				.attr("x1", "100%")
				.attr("y1", "0%")
				.attr("x2", "100%")
				.attr("y2", "100%")
				.attr("spreadMethod", "pad");

			legend.append("stop")
				.attr("offset", "0%")
				.attr("stop-color", highColor)
				.attr("stop-opacity", 1);
				
			legend.append("stop")
				.attr("offset", "100%")
				.attr("stop-color", lowColor)
				.attr("stop-opacity", 1);

			key.append("rect")
				.attr("width", w/4)
				.attr("height", h)
				.style("fill", "url(#gradient)")
				.attr("transform", "translate(0,10)");

			var y = d3.scaleLinear()
				.range([h, 0])
				.domain([minVal, maxVal]);

			var yAxis = d3.axisRight(y);

			key.append("g")
				.attr("class", "y axis")
				.attr("transform", "translate(41,10)")
				.call(yAxis)

      		g.append("g")
                .attr("id", "counties")
                .selectAll("path")
                .data(topojson.feature(us, us.objects.counties).features)
                .enter().append("path")
                .attr("d", path)
                .attr("class", "county-boundary")
                .on("click", reset)
                .on("mouseover", function(d){
                	tooltip.transition()
                	.duration(200)
                	.style("opacity", 0.6);
                	tooltip.html(d.properties.name) 
                	.style("left", (d3.event.pageX) + "px")
                	.style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function(d){
                	tooltip.transition()
                	.duration(500)
                	.style("opacity", 0);
                });

            g.append("g")
                .attr("id", "states")
                .selectAll("path")
                .data(topojson.feature(us, us.objects.states).features)
                .enter().append("path")
                .attr("d", path)
                .attr("class", "state")
                .style("fill", function(d){return ramp(data[d.properties.name])})
                .on("click", clicked)
                .on("mouseover", function(d){
                	tooltip.transition()
                	.duration(200)
                	.style("opacity", 0.8);
                	tooltip.html(d.properties.name + "<br/>" + data_label + data[d.properties.name])
                	.style("left", (d3.event.pageX) + "px")
                	.style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function(d){
                	tooltip.transition()
                	.duration(500)
                	.style("opacity", 0);
                });
                            
            g.append("path")
                .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
                .attr("id", "state-borders")
                .attr("d", path);

      		d3.select("#inds")
      			.on("change", function(){
      				var selection = document.getElementById("inds");
      				var selected = selection.options[selection.selectedIndex].value
      				if (selected == "all") {
      					data = state_all
      					data_label = "Median Home Price: "
      				} else if (selected == "1bed") {
      					data = state_1bed
      					data_label = "1Bed Home Price: "
      				} else if (selected == "2bed") {
      					data = state_2bed
      					data_label = "2Bed Home Price: "
      				} else if (selected == "3bed") {
      					data = state_3bed
      					data_label = "3Bed Home Price: "
      				} else if (selected == "4bed") {
      					data = state_4bed
      					data_label = "4Bed Home Price: "
      				} else if (selected == "5bed") {
      					data = state_5bed
      					data_label = "5Bed+ Home Price: "
      				} else if (selected == "sqft") {
      					data = state_sqft
      					data_label = "Home Price by Sqft: "
      				}
      				keys = Object.keys(data);
					minVal = Math.min.apply(null, keys.map(function(x) { return data[x]} ));
					maxVal = Math.max.apply(null, keys.map(function(x) { return data[x]} ));
					ramp = d3.scaleLinear().domain([minVal,maxVal*norm]).range([lowColor,highColor])
      				UpdateMap(data)
      			})

        	function UpdateMap(data) {
	            // g.append("g")
	            //     .attr("id", "counties")
	            //     .selectAll("path")
	            //     .data(topojson.feature(us, us.objects.counties).features)
	            //     .enter().append("path")
	            //     .attr("d", path)
	            //     .attr("class", "county-boundary")
	            //     .on("click", reset)
	            //     .on("mouseover", function(d){
	            //     	tooltip.transition()
	            //     	.duration(200)
	            //     	.style("opacity", 0.6);
	            //     	tooltip.html(d.properties.name) 
	            //     	.style("left", (d3.event.pageX) + "px")
	            //     	.style("top", (d3.event.pageY - 28) + "px");
	            //     })
	            //     .on("mouseout", function(d){
	            //     	tooltip.transition()
	            //     	.duration(500)
	            //     	.style("opacity", 0);
	                // });

	            g.append("g")
	                .attr("id", "states")
	                .selectAll("path")
	                .data(topojson.feature(us, us.objects.states).features)
	                .enter().append("path")
	                .attr("d", path)
	                .attr("class", "state")
	                .style("fill", function(d){return ramp(data[d.properties.name])})
	                .on("click", clicked)
	                .on("mouseover", function(d){
	                	tooltip.transition()
	                	.duration(200)
	                	.style("opacity", 0.8);
	                	tooltip.html(d.properties.name + "<br/>" + data_label + data[d.properties.name])
	                	.style("left", (d3.event.pageX) + "px")
	                	.style("top", (d3.event.pageY - 28) + "px");
	                })
	                .on("mouseout", function(d){
	                	tooltip.transition()
	                	.duration(500)
	                	.style("opacity", 0);
	                });
	                            
	            g.append("path")
	                .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
	                .attr("id", "state-borders")
	                .attr("d", path);

	            // update legend
				y = d3.scaleLinear()
					.range([h, 0])
					.domain([minVal, maxVal]);

				yAxis = d3.axisRight(y);

				// key.select("g")
				// 	.attr("class", "y axis")
				// 	.attr("transform", "translate(41,10)")
				// 	.call(yAxis)
				key.select("g")
					.call(yAxis)

			}

        }

        function clicked(d) {
            if (d3.select('.background').node() === this) return reset();

            if (active.node() === this) return reset();

            active.classed("active", false);
            active = d3.select(this).classed("active", true);

            var bounds = path.bounds(d),
                dx = bounds[1][0] - bounds[0][0],
                dy = bounds[1][1] - bounds[0][1],
                x = (bounds[0][0] + bounds[1][0]) / 2,
                y = (bounds[0][1] + bounds[1][1]) / 2,
                scale = .9 / Math.max(dx / width, dy / height),
                translate = [width / 2 - scale * x, height / 2 - scale * y];

            g.transition()
                .duration(750)
                .style("stroke-width", 1.5 / scale + "px")
                .attr("transform", "translate(" + translate + ")scale(" + scale + ")");
        }


        function reset() {
            active.classed("active", false);
            active = d3.select(null);

            g.transition()
                .delay(100)
                .duration(750)
                .style("stroke-width", "1.5px")
                .attr('transform', 'translate('+margin.left+','+margin.top+')');

        }
    </script>
</body>
</html>